{% extends "base.html" %}
{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to BuyBuddy Ecommerce Website !!!</p>
        </div>
    </div>
</header>
        <div class="container">
            <div class = "row">
                <center>
                    <div>
                        <br>
                       <p> Welcome to BuyBuddy – Your Trusted Online Shopping Destination! <br>At BuyBuddy, we aim to provide a seamless and enjoyable online shopping experience.<br> Whether you’re looking for bestselling books, electronics, fashion, or home essentials, <br>BuyBuddy is your go-to eCommerce platform.
                        <br>
                        <br>
Why Choose BuyBuddy?
<br>
✅ Wide Range of Products – From trending books to daily essentials, we have it all.
<br>
✅ Best Prices – Get exclusive deals and discounts on top products.
<br>
✅ Secure Payments – Multiple payment options with end-to-end security.
<br>
✅ Fast & Reliable Delivery – We ensure quick and safe shipping.
<br>
<br>
<br>

Our Vision & Mission
At BuyBuddy, our mission is to make online shopping easy, affordable, and accessible to everyone. <br>We focus on delivering quality products with trust and transparency.<br>

Join the BuyBuddy Family!
Sign up today and enjoy a hassle-free shopping experience with BuyBuddy! 🚀</p>
                    </div>    
                </center>
            </div>    
        </div>
{% endblock %}